<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="PATTERN">
      %d{yyyy-MM-dd'T'HH:mm:ss.SXXX}|2|%level|sleuth-baggage-demo|%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-Span-Export},%X{X-Correlation-Id}|${sys:PID}|%thread|%logger{1.}|%message%n
    </Property>
  </Properties>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>
  </Appenders>
</Configuration>
